<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>PuzzleQuest</title>
    <link rel="stylesheet" type="text/css" href="/style/pq.css" />
    <link rel="icon" type="image/png" href="/image/pq-logo-64.png" sizes="64x64 32x32 24x24 16x16" />
    <link rel="icon" type="image/png" href="/image/pq-logo-192.png" sizes="192x192" />
  </head>
  <body>
    <nav class="pq-navigation-header">
      <input id="nav-checkbox" type="checkbox" class="pq-nav-checkbox"/>
      <ul class="pq-navigation-title">
        <li><%= puzzle.displayName %></li>
      </ul>
      <label for="nav-checkbox">
        <div class="pq-nav-menu">
          <svg viewBox="0 0 512 512">
            <use xlink:href="/image/menu-burger.svg#menu" href="/image/menu-burger.svg#menu"></use>
          </svg>
        </div>
      </label>
      <div class="pq-menu">
        <ul>
          <li>
            <a href="/quest/<%=quest%>" class="pq-menu-link">Return to quest</a>
          </li>
          <li>
            <a href="/" class="pq-menu-link">Return to dashboard</a>
          </li>
          <li>
            <a href="/user/<%=userName%>" class="pq-menu-link">View user profile</a>
          </li>
          <li>
            <a href="/logout" class="pq-menu-link">Sign out</a>
          </li>
        </ul>
      </div>
    </nav>
    <div>
      Activate puzzle by
    </div>
    <div id="activation-mode">
      <input type="radio" id="qr-code" name="auth-method" value="qr" />
      <label for="qr-code">Scanning QR code</label>
      <input type="radio" id="text-value" name="auth-method" value="text" />
      <label for="text-value">Entering code text</label>
    </div>
    <div id="qr-code-scanner" class="pq-hide">
      <div class="pq-code-scanner">
        <div id="camera-image" class="pq-camera-image">
          <video id="video" muted="muted" playsinline="playsinline" class="pq-hide">Video stream not available.</video>
          <canvas id="canvas"></canvas>
          <div id="scan-code-button" class="pq-scan-code-button">
            <button>
              <svg viewBox="0 0 24 24">
                <use xlink:href="/image/qr.svg#qr" href="/image/qr.svg#qr"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div id="text-entry" class="pq-hide">
      <div class="pq-label">
        <label for="text-auth-code">Enter authorization code</label>
      </div>
      <div class="pq-input">
        <input id="text-auth-code" class="pq-input" />&nbsp;<button id="send-code-text-button" class="pq-button">Send code</button>
      </div>
    </div>
    <div id="error-details" class="pq-hide"></div>
    <script type="text/javascript">
      const questName = <%- JSON.stringify(quest ? quest : null) %>;
      const puzzleName = <%- JSON.stringify(puzzle ? puzzle.name : null) %>;
    </script>
    <script type="text/javascript" src="/script/activate.js"></script>
  </body>
</html>
