<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>PuzzleQuest</title>
    <link rel="stylesheet" type="text/css" href="/style/pq.css" />
    <link rel="icon" type="image/png" href="/image/pq-logo-64.png" sizes="64x64 32x32 24x24 16x16" />
    <link rel="icon" type="image/png" href="/image/pq-logo-192.png" sizes="192x192" />
  </head>
  <body>
    <nav class="pq-navigation-header">
      <input id="nav-checkbox" type="checkbox" class="pq-nav-checkbox"/>
      <ul class="pq-navigation-title">
        <li>Dashboard</li>
      </ul>
      <label for="nav-checkbox">
        <div class="pq-nav-menu">
          <svg viewBox="0 0 512 512">
            <use xlink:href="/image/menu-burger.svg#menu" href="/image/menu-burger.svg#menu"></use>
          </svg>
        </div>
      </label>
      <div class="pq-menu">
        <ul>
          <li>
            <a href="/user/<%=userName%>" class="pq-menu-link">View user profile</a>
          </li>
          <li>
            <a href="/logout" class="pq-menu-link">Sign out</a>
          </li>
        </ul>
      </div>
    </nav>
    <p>
      Quests
    </p>
    <div id="quests">
      <% if (quests && quests.length) { %>
        <table>
          <thead>
            <tr>
              <th>Quest Name</th>
              <th>Quest Status</th>
              <th>Quest Start</th>
              <th>Quest End</th>
            </tr>
          </thead>
          <tbody>
          <% for (let i = 0; i < quests.length; i++) { %>
            <tr>
              <td>
                <% if (quests[i].status >= 1) { %>
                <a href="/quest/<%=quests[i].name%>"><%= quests[i].displayName %></a>
                <% } else { %>
                  <%= quests[i].displayName %>
                <% } %>
              </td>
              <td><%= quests[i].statusDescription %></td>
              <td><%= quests[i].startTime %></td>
              <td><%= quests[i].endTime %></td>
            </tr>
          <% } %>
          </tbody>
        </table>
      <% } else { %>
        <div>You have no quests.</div>
      <% } %>
    </div>
  </body>
</html>
