<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>PuzzleQuest</title>
    <link rel="stylesheet" type="text/css" href="/style/pq.css" />
    <link rel="icon" type="image/png" href="/image/pq-logo-64.png" sizes="64x64 32x32 24x24 16x16" />
    <link rel="icon" type="image/png" href="/image/pq-logo-192.png" sizes="192x192" />
  </head>
  <body>
    <nav class="pq-navigation">
      <div class="pq-navigation-header">
        <input id="nav-checkbox" type="checkbox" class="pq-nav-checkbox"/>
        <label for="nav-checkbox">
          <div class="pq-nav-icon-button">
            <svg viewBox="0 0 512 512">
              <use xlink:href="/image/menu-burger.svg#menu" href="/image/menu-burger.svg#menu"></use>
            </svg>
          </div>
        </label>
        <ul class="pq-navigation-title">
          <li>Dashboard</li>
        </ul>
        <div class="pq-menu">
          <ul>
            <li>
              <a href="/user/<%=userName%>" class="pq-menu-link">View user profile</a>
            </li>
            <li>
              <a href="/logout" class="pq-menu-link">Sign out</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <p>
      Quests
    </p>
    <% if (quests && quests.length) { %>
      <% const dateFormatter = new Intl.DateTimeFormat(undefined, { month: "short", day: "2-digit", year: "numeric", hour: "2-digit", minute: "2-digit", second: "2-digit" }); %>
      <% const numberFormatter = new Intl.NumberFormat("en", {minimumIntegerDigits: 2}); %>
      <% quests.filter((quest) => quest.status > 0).forEach((quest) => { %>
      <div class="pq-quest">
        <div class="pq-quest-link">
          <a href="/quest/<%=quest.name%>"><%= quest.displayName %></a>
        </div>
        <div class="pq-quest-status">
          <%= quest.statusDescription %>
        </div>
        <div class="pq-quest-time">
          <strong>Start time:</strong><br>
          <%= quest.startTime ? dateFormatter.format(quest.startTime) : "-" %>
        </div>
        <div class="pq-quest-time">
          <strong>End time:</strong><br>
          <%= quest.endTime ? dateFormatter.format(quest.endTime) : "-" %>
        </div>
        <div class="pq-quest-time">
          <strong>Elapsed time:</strong><br>
          <% const elapsedSeconds = quest.endTime ? Math.trunc((quest.endTime - quest.startTime) / 1000) : Math.trunc((Date.now() - quest.startTime) / 1000); %>
          <% const hours = numberFormatter.format(Math.trunc(elapsedSeconds / 3600)); %>
          <% const minutes = numberFormatter.format(Math.trunc((elapsedSeconds % 3600) / 60)); %>
          <% const seconds = numberFormatter.format(Math.trunc((elapsedSeconds % 3600) % 60)); %>
          <% if (quest.status > 0 && quest.status < 2) { %>
          <span data-quest-id="<%=quest.name%>" data-quest-start=<%-JSON.stringify(quest.startTime)%>>
          <% } %>
          <%= hours + ":" + minutes + ":" + seconds %>
          <% if (quest.status > 0 && quest.status < 2) { %>
          </span>
          <% } %>
        </div>
      </div>
      <% }); %>
    <% } else { %>
      There are no quests to display for you.
    <% } %>
   <script type="text/javascript" src="/script/home.js"></script>
  </body>
</html>
