<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>PuzzleQuest</title>
    <link rel="stylesheet" type="text/css" href="/style/pq.css" />
    <link rel="icon" type="image/png" href="/image/pq-logo-64.png" sizes="64x64 32x32 24x24 16x16" />
    <link rel="icon" type="image/png" href="/image/pq-logo-192.png" sizes="192x192" />
  </head>
  <body>
    <nav class="pq-navigation">
      <div class="pq-navigation-header">
        <ul class="pq-navigation-title">
          <li><%= quest.displayName %></li>
        </ul>
      </div>
      <div class="pq-nav-button-bar">
        <a href="/">
          <div class="pq-nav-icon-button">
            <svg viewBox="0 0 512 512">
              <use xlink:href="/image/arrow-left.svg#arrow-left" href="/image/arrow-left.svg#arrow-left"></use>
            </svg>
          </div>
        </a>
      </div>
    </nav>
    <div id="puzzles">
      <% const filteredPuzzles = quest.puzzles.filter((puzzle) => puzzle.status > 0); %>
      <% if (!filteredPuzzles.length) { %>
        No active puzzles yet. Check back later.
      <% } else { %>
        <% const dateFormatter = new Intl.DateTimeFormat(undefined, { month: "short", day: "2-digit", year: "numeric", hour: "2-digit", minute: "2-digit", second: "2-digit" }); %>
        <% const numberFormatter = new Intl.NumberFormat("en", {minimumIntegerDigits: 2}); %>
        <% filteredPuzzles.forEach((puzzle) => { %>
        <div class="pq-quest-puzzle" data-puzzle-name="<%=puzzle.puzzleName%>">
          <div class="pq-quest-puzzle-link">
            <% if (puzzle.status === 1) { %>
            <%= puzzle.puzzleDetail.displayName %>
            <% } else { %>
            <a href="/monitor/quest/<%=quest.name%>/puzzle/<%=puzzle.puzzleName%>"><%= puzzle.puzzleDetail.displayName %></a>
            <% } %>
          </div>
          <div class="pq-quest-puzzle-status">
            <span><%= puzzle.statusDescription %></span>
          </div>
          <div class="pq-quest-puzzle-time" data-time="start">
            <strong>Start time:</strong><br>
            <span><%= puzzle.startTime ? dateFormatter.format(puzzle.startTime) : "-" %></span>
          </div>
          <div class="pq-quest-puzzle-time" data-time="activation">
            <strong>Activation time:</strong><br>
            <span><%= puzzle.activationTime ? dateFormatter.format(puzzle.activationTime) : "-" %></span>
          </div>
          <div class="pq-quest-puzzle-time" data-time="solution">
            <strong>Solution time:</strong><br>
            <span><%= puzzle.endTime ? dateFormatter.format(puzzle.endTime) : "-" %></span>
          </div>
          <div class="pq-quest-puzzle-time" data-time="elapsed">
            <strong>Elapsed time:</strong><br>
            <% const elapsedSeconds = puzzle.endTime ? Math.trunc((puzzle.endTime - puzzle.startTime) / 1000) : Math.trunc((Date.now() - puzzle.startTime) / 1000); %>
            <% const hours = numberFormatter.format(Math.trunc(elapsedSeconds / 3600)); %>
            <% const minutes = numberFormatter.format(Math.trunc((elapsedSeconds % 3600) / 60)); %>
            <% const seconds = numberFormatter.format(Math.trunc((elapsedSeconds % 3600) % 60)); %>
            <% if (puzzle.status > 0 && puzzle.status < 3) { %>
            <span data-puzzle-start=<%- JSON.stringify(currentPuzzleStartTime) %>>
            <% } else { %>
            <span>
            <% } %>
            <%= hours + ":" + minutes + ":" + seconds %>
            </span>
          </div>
          <div class="pq-quest-puzzle-solution">
            <span>
            <% if (puzzle.status >= 3) {%>
            <strong>Solution:</strong>&nbsp; <%= puzzle.puzzleDetail.solutionDisplayText %>
            <% } %>
            </span>
          </div>
        </div>
        <% }); %>
      <% } %>
    </div>
    <script type="module" src="/script/monitorQuest.js"></script>
  </body>
</html>
