<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Puzzle Details</title>
    <link rel="stylesheet" type="text/css" href="/style/pq.css" />
    <link rel="icon" type="image/png" href="/image/pq-logo-64.png" sizes="64x64 32x32 24x24 16x16" />
    <link rel="icon" type="image/png" href="/image/pq-logo-192.png" sizes="192x192" />
  </head>
  <body>
    <div class="pq-form-element">
      <div class="pq-label">
        <% if (renderMode !== "create") { %>
        Puzzle name:
        <% } else { %>
        <label for="puzzle-name">Puzzle name:</label>
        <% } %>
      </div>
      <div class="pq-input">
        <% if (renderMode !== "create") { %>
        <%= puzzle.name %>
        <% } else { %>
        <input id="puzzle-name" value="<%= renderMode !== "create" ? puzzle.name : "" %>" />
        <% } %>
      </div>
    </div>
    <div class="pq-form-element">
      <div class="pq-label">
        <label for="display-name">Display name:</label>
      </div>
      <div class="pq-input">
        <input id="display-name" value="<%= renderMode !== "create" ? puzzle.displayName : "" %>" />
      </div>
    </div>
    <div class="pq-form-element">
      <div class="pq-label">
        <label for="display-name">Puzzle type:</label>
      </div>
      <div class="pq-select">
        <select id="puzzle-type">
          <option value="0" <%=puzzle === null || puzzle.type === 0 ? "selected" : ""%>>Text</option>
          <option value="1" <%=puzzle && puzzle.type === 1 ? "selected" : ""%>>Image</option>
          <option value="2" <%=puzzle && puzzle.type === 2 ? "selected" : ""%>>Audio</option>
          <option value="3" <%=puzzle && puzzle.type === 3 ? "selected" : ""%>>Video</option>
        </select>
      </div>
    </div>
    <div class="pq-form-element">
      <div class="pq-label">
        <label>Puzzle content:</label>
      </div>
      <div id="puzzle-content">
      </div>
    </div>
    <div class="pq-form-element">
      <div class="pq-label">
        <label for="solution-keyword">Solution keyword:</label>
      </div>
      <div class="pq-input">
        <input id="solution-keyword" value="<%= renderMode !== "create" ? puzzle.solutionKeyword : "" %>" />
      </div>
    </div>
    <div class="pq-form-element">
      <div class="pq-label">
        <label for="solution-display-text">Solution display text:</label>
      </div>
      <div class="pq-input">
        <input id="solution-display-text" value="<%= renderMode !== "create" ? puzzle.solutionDisplayText : "" %>" />
      </div>
    </div>
    <div class="pq-form-element">
      <div class="pq-label">
        <label for="activation-code">Activation code:</label>
      </div>
      <div class="pq-input">
        <input id="activation-code" value="<%= renderMode !== "create" ? puzzle.activationCode : "" %>" />
      </div>
    </div>
    <div class="pq-form-element">
      <button id="save" class="pq-button">Save</button>&nbsp;
      <button id="cancel" class="pq-button">Cancel</button>
    </div>
    <div>
      Hints
    </div>
    <% if (!puzzle?.hints.length) { %>
    <div>
      No hints to display
    </div>
    <% } else { %>
    <% } %>
    <div class="pq-error pq-hide">
      <span id="error-message"></span>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script type="text/javascript">
      const renderMode = "<%=renderMode%>";
      const puzzle = <%- JSON.stringify( puzzle ? { "name": puzzle.name, "type": puzzle.type, "content": puzzle.text } : null) %>;
    </script>
    <script type="module" src="/script/puzzleEdit.js"></script>
  </body>
</html>
