<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>PuzzleQuest</title>
    <link rel="stylesheet" type="text/css" href="/style/pq.css" />
    <link rel="icon" type="image/png" href="/image/pq-logo-64.png" sizes="64x64 32x32 24x24 16x16" />
    <link rel="icon" type="image/png" href="/image/pq-logo-192.png" sizes="192x192" />
  </head>
  <body>
    <nav class="pq-navigation">
      <div class="pq-navigation-header">
        <input id="nav-checkbox" type="checkbox" class="pq-nav-checkbox"/>
        <label for="nav-checkbox">
          <div class="pq-nav-icon-button">
            <svg viewBox="0 0 512 512">
              <use xlink:href="/image/menu-burger.svg#menu" href="/image/menu-burger.svg#menu"></use>
            </svg>
          </div>
        </label>
        <ul class="pq-navigation-title">
          <li><%= puzzle.displayName %></li>
        </ul>
        <div class="pq-menu">
          <ul>
            <li>
              <a href="/quest/<%=quest%>" class="pq-menu-link">Return to quest</a>
            </li>
            <li>
              <a href="/" class="pq-menu-link">Return to dashboard</a>
            </li>
            <li>
              <a href="/user/<%=userName%>" class="pq-menu-link">View user profile</a>
            </li>
            <li>
              <a href="/logout" class="pq-menu-link">Sign out</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="pq-nav-button-bar">
        <a href="/quest/<%=quest%>">
          <div class="pq-nav-icon-button">
            <svg viewBox="0 0 512 512">
              <use xlink:href="/image/arrow-left.svg#arrow-left" href="/image/arrow-left.svg#arrow-left"></use>
            </svg>
          </div>
        </a>
      </div>
    </nav>
    <div id="puzzle-content">
      <%- rendered %>
    </div>
    <div id="hints">
      <div class="pq-header">
        <span class="pq-header-text">Hints</span>
        <% if (puzzle.status < 3) { %>
          <% if (puzzle.nextHintSolutionWarning === undefined) { %>
          <span id="request-hint" class="pq-float-right">No available hints</span>
          <% } else if (puzzle.nextHintSolutionWarning) { %>
          <a id="request-hint" href="#" class="pq-menu-link pq-float-right" data-solution-warning="true">Request hint</a>
          <% } else { %>
          <a id="request-hint" href="#" class="pq-menu-link pq-float-right">Request hint</a>
          <% } %>
        <% } %>
      </div>
      <div id="used-hints">
        <% if (puzzle.hints.length) { %>
          <% puzzle.hints.forEach((hint) => { %>
            <p class="pq-hint"><%=hint.text %></p>
          <% }); %>
        <% } else { %>
          <p>No hints used</p>
        <% } %>
      </div>
    </div>
    <% if (puzzle.status === 2) { %>
    <div id="solve">
      <div class="pq-label">
        <label for="solution">Solution</label>
      </div>
      <div class="pq-input">
        <input id="solution-guess" />&nbsp;
        <button id="submit-button" class="pq-button">Submit solution</button>
      </div>
      <div id="solution-errors" class="pq-hide">
      </div>
    </div>
    <% } %>
    <div id="solution" class="<%=puzzle.status !== 3 ? "pq-hide" : ""%>">
      <div class="pq-header">
        Solution
      </div>
      <p id="solution-text">
        <%= puzzle.status === 3 ? puzzle.solutionDisplayText : "" %>
      </p>
    </div>
    <script type="text/javascript">
      const questName = <%- JSON.stringify(quest ? quest : null) %>;
      const puzzleName = <%- JSON.stringify(puzzle ? puzzle.puzzleName : null) %>;
    </script>
    <script type="module" src="/script/puzzle.js"></script>
  </body>
</html>
