<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Quest Details</title>
    <link rel="stylesheet" type="text/css" href="/style/pq.css" />
    <link rel="icon" type="image/png" href="/image/pq-logo-64.png" sizes="64x64 32x32 24x24 16x16" />
    <link rel="icon" type="image/png" href="/image/pq-logo-192.png" sizes="192x192" />
  </head>
  <body>
    <div class="pq-form-element">
      <div class="pq-label">
        Quest name:
      </div>
      <div class="pq-input">
        <%= quest.name %>
      </div>
    </div>
    <div class="pq-form-element">
      <div class="pq-label">
        Display name:
      </div>
      <div class="pq-input">
        <%= quest.displayName %>
      </div>
    </div>
    <div class="pq-form-element">
      <div class="pq-label">
        User or team:
      </div>
      <div class="pq-input">
        <%= quest.userName %>
      </div>
    </div>
    <div class="pq-form-element">
      <div class="pq-label">
        Status:
      </div>
      <div class="pq-input">
        <% if (quest.status === 0) { %>
        Not started
        <% } else if (quest.status === 1) { %>
        In progress
        <% } else if (quest.status === 2) { %>
        Completed
        <% } %>
      </div>
    </div>
    <% if (!quest.puzzles.length) { %>
    <div>
    No puzzles to display
    </div>
    <% } else { %>
    <div id="puzzles">
    </div>
    <% } %>
    <div class="pq-form-element">
      <% if (quest.status === 0) { %>
      <button id="activate" class="pq-button">Activate</button>
      <% } %>
      <button id="edit" class="pq-button">Edit</button>
      <button id="close" class="pq-button">Close</button>
    </div>
    <div class="pq-error pq-hide">
      <span id="error-message"></span>
    </div>
    <script type="text/javascript">
      const renderMode = "<%=renderMode%>";
      const quest = <%- JSON.stringify(quest ? { "name": quest.name, "puzzles": quest.puzzles } : null) %>;
    </script>
    <script type="module" src="/script/questDetails.js"></script>
  </body>
</html>
