<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>PuzzleQuest</title>
    <link rel="stylesheet" type="text/css" href="/style/pq.css" />
    <link rel="icon" type="image/png" href="/image/pq-logo-64.png" sizes="64x64 32x32 24x24 16x16" />
    <link rel="icon" type="image/png" href="/image/pq-logo-192.png" sizes="192x192" />
  </head>
  <body>
    <nav class="pq-navigation-header">
      <input id="nav-checkbox" type="checkbox" class="pq-nav-checkbox"/>
      <ul class="pq-navigation-title">
        <li><%= quest.displayName %></li>
      </ul>
      <label for="nav-checkbox">
        <div class="pq-nav-menu">
          <svg viewBox="0 0 512 512">
            <use xlink:href="/image/menu-burger.svg#menu" href="/image/menu-burger.svg#menu"></use>
          </svg>
        </div>
      </label>
      <div class="pq-menu">
        <ul>
          <li>
            <a href="/" class="pq-menu-link">Return to dashboard</a>
          </li>
          <li>
            <a href="/user/<%=userName%>" class="pq-menu-link">View user profile</a>
          </li>
          <li>
            <a href="/logout" class="pq-menu-link">Sign out</a>
          </li>
        </ul>
      </div>
    </nav>
    <p>Puzzles</p>
    <% const dateFormatter = new Intl.DateTimeFormat(undefined, { month: "short", day: "2-digit", year: "numeric", hour: "2-digit", minute: "2-digit", second: "2-digit" }); %>
    <% const numberFormatter = new Intl.NumberFormat("en", {minimumIntegerDigits: 2}); %>
    <% quest.puzzles.filter((puzzle) => puzzle.status > 0).forEach((puzzle) => { %>
    <div class="pq-quest-puzzle">
      <div class="pq-quest-puzzle-link">
        <a href="/quest/<%=quest.name%>/puzzle/<%=puzzle.name%>"><%= puzzle.displayName %></a>
      </div>
      <div class="pq-quest-puzzle-status">
        <%= puzzle.statusDescription %>
      </div>
      <div class="pq-quest-puzzle-time">
        <strong>Start time:</strong><br>
        <%= puzzle.startTime ? dateFormatter.format(puzzle.startTime) : "-" %>
      </div>
      <div class="pq-quest-puzzle-time">
        <strong>Activation time:</strong><br>
        <%= puzzle.activationTime ? dateFormatter.format(puzzle.activationTime) : "-" %>
      </div>
      <div class="pq-quest-puzzle-time">
        <strong>Solution time:</strong><br>
        <%= puzzle.endTime ? dateFormatter.format(puzzle.endTime) : "-" %>
      </div>
      <div class="pq-quest-puzzle-time">
        <strong>Elapsed time:</strong><br>
        <% const elapsedSeconds = puzzle.endTime ? Math.trunc((puzzle.endTime - puzzle.startTime) / 1000) : Math.trunc((Date.now() - puzzle.startTime) / 1000); %>
        <% const hours = numberFormatter.format(Math.trunc(elapsedSeconds / 3600)); %>
        <% const minutes = numberFormatter.format(Math.trunc((elapsedSeconds % 3600) / 60)); %>
        <% const seconds = numberFormatter.format(Math.trunc((elapsedSeconds % 3600) % 60)); %>
        <% if (puzzle.status > 0 && puzzle.status < 3) { %>
        <span id="current">
        <% } %>
        <%= hours + ":" + minutes + ":" + seconds %>
        <% if (puzzle.status > 0 && puzzle.status < 3) { %>
        </span>
        <% } %>
      </div>
      <div class="pq-quest-puzzle-solution">
        <% if (puzzle.status >= 3) {%>
        <strong>Solution:</strong>&nbsp; <%= puzzle.solutionDisplayText %>
        <% } %>
      </div>
    </div>
    <% }); %>
    <script type="text/javascript">
      const currentPuzzleStartTime = Date.parse(<%- JSON.stringify(currentPuzzleStartTime) %>);
    </script>
    <script type="text/javascript" src="/script/quest.js"></script>
  </body>
</html>
