<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Quest Details</title>
    <link rel="stylesheet" type="text/css" href="/style/pq.css" />
    <link rel="icon" type="image/png" href="/image/pq-logo-64.png" sizes="64x64 32x32 24x24 16x16" />
    <link rel="icon" type="image/png" href="/image/pq-logo-192.png" sizes="192x192" />
  </head>
  <body>
    <nav class="pq-navigation">
      <div class="pq-navigation-header">
        <input id="nav-checkbox" type="checkbox" class="pq-nav-checkbox"/>
        <label for="nav-checkbox">
          <div class="pq-nav-icon-button">
            <svg viewBox="0 0 512 512">
              <use xlink:href="/image/menu-burger.svg#menu" href="/image/menu-burger.svg#menu"></use>
            </svg>
          </div>
        </label>
        <ul class="pq-navigation-title">
          <li>Quest Details</li>
        </ul>
        <div class="pq-menu">
          <ul>
            <li>
              <a id="save-link" class="pq-menu-link" href=<%= quest ? "/quest/" + quest.name : "/" %>>Save</a>
            </li>
            <li>
              <a id="cancel-link" class="pq-menu-link" href=<%= quest ? "/quest/" + quest.name : "/" %>>Cancel</a>
            </li>
            <li>
              <a class="pq-menu-link" href="/logout">Logout</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="pq-nav-button-bar">
        <a id="save-button" href=<%= quest ? "/quest/" + quest.name : "/" %>>
          <div class="pq-nav-icon-button">
            <svg viewBox="0 0 512 512">
              <use xlink:href="/image/save.svg#save" href="/image/save.svg#save"></use>
            </svg>
          </div>
        </a>
        <a href=<%= quest ? "/quest/" + quest.name : "/" %>>
          <div class="pq-nav-icon-button">
            <svg viewBox="0 0 512 512">
              <use xlink:href="/image/cancel.svg#cancel" href="/image/cancel.svg#cancel"></use>
            </svg>
          </div>
        </a>
      </div>
    </nav>
    <div class="pq-form-element">
      <div class="pq-label">
        <% if (renderMode !== "create") { %>
        Quest name:
        <% } else { %>
        <label for="quest-name">Quest name:</label>
        <% } %>
      </div>
      <div class="pq-input">
        <% if (renderMode !== "create") { %>
        <%= quest.name %>
        <% } else { %>
        <input id="quest-name" value="<%= renderMode !== "create" ? quest.name : "" %>" />
        <% } %>
      </div>
    </div>
    <div class="pq-form-element">
      <div class="pq-label">
        <label for="display-name">Display name:</label>
      </div>
      <div class="pq-input">
        <input id="display-name" value="<%= renderMode !== "create" ? quest.displayName : "" %>" />
      </div>
    </div>
    <div class="pq-form-element">
      <div class="pq-label">
        <label for="user-name">User name:</label>
      </div>
      <div class="pq-input">
        <input id="user-name" value="<%= renderMode !== "create" ? quest.userName : "" %>" readonly />
        <button id="set-user-button" class="pq-icon-button">
          <svg class="pq-icon" viewBox="0 0 512 512">
            <use xlink:href="/image/user.svg#user" href="/image/user.svg#user"></use>
          </svg>
        </button>
        <button id="set-team-button" class="pq-icon-button">
          <svg class="pq-icon" viewBox="0 0 512 512">
            <use xlink:href="/image/team.svg#team" href="/image/team.svg#team"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="pq-form-element">
      <div class="pq-label">
        <label for="quest-status">Quest status:</label>
      </div>
      <div class="pq-select">
        <select id="quest-status">
          <option value="0" <%=quest === null || quest.status === 0 ? "selected" : ""%>>Not started</option>
          <option value="1" <%=quest && quest.status === 1 ? "selected" : ""%>>In progress</option>
          <option value="2" <%=quest && quest.status === 2 ? "selected" : ""%>>Completed</option>
        </select>
      </div>
    </div>
    <div class="pq-form-element">
      <div id="quest-puzzles">
      </div>
    </div>
    <div class="pq-error pq-hide">
      <span id="error-message"></span>
    </div>
    <script type="text/javascript">
      const renderMode = "<%=renderMode%>";
      const quest = <%- JSON.stringify( quest ? { "name": quest.name, "puzzles": quest.puzzles } : null) %>;
    </script>
    <script type="module" src="/script/questEdit.js"></script>
  </body>
</html>
