<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>User Details</title>
    <link rel="stylesheet" type="text/css" href="/style/pq.css" />
    <link rel="icon" type="image/png" href="/image/pq-logo-64.png" sizes="64x64 32x32 24x24 16x16" />
    <link rel="icon" type="image/png" href="/image/pq-logo-192.png" sizes="192x192" />
  </head>
  <body>
    <nav class="pq-navigation">
      <div class="pq-navigation-header">
        <input id="nav-checkbox" type="checkbox" class="pq-nav-checkbox"/>
        <label for="nav-checkbox">
          <div class="pq-nav-icon-button">
            <svg viewBox="0 0 512 512">
              <use xlink:href="/image/menu-burger.svg#menu" href="/image/menu-burger.svg#menu"></use>
            </svg>
          </div>
        </label>
        <ul class="pq-navigation-title">
          <li><%= renderMode !== "create" ? "User details" : "Sign up" %></li>
        </ul>
        <div class="pq-menu">
          <ul>
            <% if (renderMode !== "display") { %>
            <li>
              <a id="save-link" class="pq-menu-link" href="/">Save</a>
            </li>
            <% } %>
            <% if (renderMode === "display") { %>
            <li>
              <a id="edit-link" class="pq-menu-link" href="/user/<%=user.userName%>/edit">Edit</a>
            </li>
            <% } %>
            <li>
              <a id="cancel-link" class="pq-menu-link" href="/"><%= renderMode !== "display" ? "Cancel" : "Close" %></a>
            </li>
            <% if (renderMode !== "create") { %>
            <li>
              <a class="pq-menu-link" href="/logout">Logout</a>
            </li>
            <% } %>
          </ul>
        </div>
      </div>
      <div class="pq-nav-button-bar">
        <% if (renderMode === "display") { %>
        <a href="/user/<%=user.userName%>/edit">
          <div class="pq-nav-icon-button">
            <svg viewBox="0 0 512 512">
              <use xlink:href="/image/edit.svg#edit" href="/image/edit.svg#edit"></use>
            </svg>
          </div>
        </a>
        <% } else { %>
        <a id="save-button" href="/<%= renderMode === "edit" ? "user/" + user.userName : "" %>">
          <div class="pq-nav-icon-button">
            <svg viewBox="0 0 512 512">
              <use xlink:href="/image/save.svg#save" href="/image/save.svg#save"></use>
            </svg>
          </div>
        </a>
        <% } %>
        <a href="/">
          <div class="pq-nav-icon-button">
            <svg viewBox="0 0 512 512">
              <use
                xlink:href=<%= renderMode === "display" ? "/image/arrow-left.svg#arrow-left" : "/image/cancel.svg#cancel" %>
                href=<%= renderMode === "display" ? "/image/arrow-left.svg#arrow-left" : "/image/cancel.svg#cancel" %>>
              </use>
            </svg>
          </div>
        </a>
      </div>
    </nav>
    <div class="pq-form-element">
      <div class="pq-label">
        <label for="user-name">User name:</label>
      </div>
      <div class="pq-input">
        <% if (renderMode !== "create") { %>
        <%= user.userName %>
        <% } else { %>
        <input id="user-name" />
        <% } %>
      </div>
    </div>
    <div class="pq-form-element">
      <div class="pq-label">
        <label for="display-name">Display name:</label>
      </div>
      <div class="pq-input">
        <% if (renderMode === "display") { %>
        <%= user.displayName %>
        <% } else { %>
        <input id="display-name" value="<%= renderMode !== "create" ? user.displayName : "" %>" />
        <% } %>
      </div>
    </div>
    <% if (renderMode === "create") { %>
    <div class="pq-form-element" class="pq-hide">
      <div class="pq-label">
        <label for="password">Password:</label>
      </div>
      <div class="pq-input">
        <input id="password" type="password" />
      </div>
    </div>
    <div class="pq-form-element" class="pq-hide">
      <div class="pq-label">
        <label for="password-confirm">Confirm password:</label>
      </div>
      <div class="pq-input">
        <input id="password-confirm" type="password" />
      </div>
    </div>
    <% } %>
    <div class="pq-form-element">
      <div class="pq-label">
        <label for="email">Email:</label>
      </div>
      <div class="pq-input">
        <% if (renderMode === "display") { %>
        <%= user.email %>
        <% } else { %>
        <input id="email" value="<%= renderMode !== "create" ? user.email : "" %>" />
        <% } %>
      </div>
    </div>
    <div class="pq-form-element">
      <div class="pq-label">
        <label for="phone">Phone number:</label>
      </div>
      <div class="pq-input">
        <% if (renderMode === "display") { %>
        <%= user.phone %>
        <% } else { %>
        <input id="phone" value="<%= renderMode !== "create" ? user.phone : "" %>" />
        <% } %>
      </div>
    </div>
    <div class="pq-form-element">
      <div class="pq-label">
        <label for="allow-sms">Allow sending of SMS messages:</label>
        <input id="allow-sms" type="checkbox" <%= renderMode !== "create" && user.sms ? "checked=\"checked\"" : "" %>/>&nbsp;<a id="more-info-link" class="pq-link">More info</a>
      </div>
      <div id="more-info" class="pq-hide pq-label">
        Checking this box gives The PuzzleQuest Game consent to send you mobile text (SMS) messages.<br>
        These messages will come from The PuzzleQuest Game number (813-296-5411).<br>
        The PuzzleQuest Game does not charge for these services, but messaging and data rates<br>
        from your mobile provider may apply. You may opt out of receiving the messages at any<br>
        time by replying "STOP", or by unchecking this checkbox. See our
        <a href="/policies/privacy.html">Privacy Policy</a> for full details.
      </div>
    </div>
    <% if (currentUser && currentUser.authorizationLevel >= 10) { %>
    <div class="pq-form-element">
      <div class="pq-label">
        <label for="auth-level">Authorization level:</label>
      </div>
      <% if (renderMode === "display") { %>
      <div class="pq-input">
      <%= user.authorizationLevelDescription %>
      </div>
      <% } else { %>
      <div class="pq-select">
        <select id="auth-level">
          <option value="0" <%=user?.authorizationLevel === 0 ? "selected" : ""%>>Guest</option>
          <option value="1"<%=user?.authorizationLevel === 1 ? "selected" : ""%>>Authorized user</option>
          <option value="10"<%=user?.authorizationLevel === 10 ? "selected" : ""%>>Administrator</option>
        </select>
      </div>
      <% } %>
    </div>
    <% } %>
    <% if (renderMode !== "create") { %>
    <div id="teams">
    </div>
    <div class="pq-error pq-hide">
      <span id="error-message"></span>
    </div>
    <% } %>
    <div class="pq-error pq-hide">
      <span></span>
    </div>
    <script type="text/javascript">
      const renderMode = "<%=renderMode%>";
      const user = <%- JSON.stringify(user ? { "name" : user.userName, "teams": user.teams } : null) %>;
    </script>
    <script type="module" src="/script/user.js"></script>
  </body>
</html>
