<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>User Details</title>
    <link rel="stylesheet" type="text/css" href="/style/pq.css" />
    <link rel="icon" type="image/png" href="/image/pq-logo-64.png" sizes="64x64 32x32 24x24 16x16" />
    <link rel="icon" type="image/png" href="/image/pq-logo-192.png" sizes="192x192" />
  </head>
  <body>
    <div class="pq-form-element">
      <div class="pq-label">
        <label for="user-name">User name:</label>
      </div>
      <div class="pq-input">
        <input id="user-name" value="<%= renderMode !== "create" ? user.userName : "" %>" <%= renderMode !== "create" ? "readonly" : "" %> />
      </div>
    </div>
    <div class="pq-form-element">
      <div class="pq-label">
        <label for="display-name">Display name:</label>
      </div>
      <div class="pq-input">
        <input id="display-name" value="<%= renderMode !== "create" ? user.displayName : "" %>" <%= renderMode === "display" ? "readonly" : "" %> />
      </div>
    </div>
    <% if (renderMode === "create") { %>
    <div class="pq-form-element" class="pq-hide">
      <div class="pq-label">
        <label for="password">Password:</label>
      </div>
      <div class="pq-input">
        <input id="password" type="password" />
      </div>
    </div>
    <div class="pq-form-element" class="pq-hide">
      <div class="pq-label">
        <label for="password-confirm">Confirm password:</label>
      </div>
      <div class="pq-input">
        <input id="password-confirm" type="password" />
      </div>
    </div>
    <% } %>
    <div class="pq-form-element">
      <div class="pq-label">
        <label for="email">Email:</label>
      </div>
      <div class="pq-input">
        <input id="email" value="<%= renderMode !== "create" ? user.email : "" %>" <%= renderMode === "display" ? "readonly" : "" %> />
      </div>
    </div>
    <div class="pq-form-element">
      <div class="pq-label">
        <label for="sms">Phone number:</label>
      </div>
      <div class="pq-input">
        <input id="sms" value="<%= renderMode !== "create" ? user.sms : "" %>" <%= renderMode === "display" ? "readonly" : "" %> />
      </div>
    </div>
    <div class="pq-form-element">
      <div class="pq-label">
        <label for="allow-sms">Allow sending of SMS messages:</label>
        <input id="allow-sms" type="checkbox" />&nbsp;<a id="more-info-link" class="pq-link">More info</a>
      </div>
      <div id="more-info" class="pq-hide pq-label">
        Checking this box gives The PuzzleQuest Game consent to send you mobile text (SMS) messages.<br>
        These messages will come from The PuzzleQuest Game number (813-296-5411).<br>
        The PuzzleQuest Game does not charge for these services, but messaging and data rates<br>
        from your mobile provider may apply. You may opt out of receiving the messages at any<br>
        time by replying "STOP", or by unchecking this checkbox. See our
        <a href="/policies/privacy.html">Privacy Policy</a> for full details.
      </div>
    </div>
    <% if (currentUser && currentUser.authorizationLevel >= 10) { %>
    <div class="pq-form-element">
      <div class="pq-label">
        <label for="auth-level">Authorization level:</label>
      </div>
      <% if (renderMode === "display") { %>
      <div class="pq-input">
        <input id="auth-level" value="<%= user.authorizationLevelDescription %>" readonly />
      </div>
      <% } else { %>
      <div class="pq-select">
        <select id="auth-level">
          <option value="0" <%=user?.authorizationLevel === 0 ? "selected" : ""%>>Guest</option>
          <option value="1"<%=user?.authorizationLevel === 1 ? "selected" : ""%>>Authorized user</option>
          <option value="10"<%=user?.authorizationLevel === 10 ? "selected" : ""%>>Administrator</option>
        </select>
      </div>
      <% } %>
    </div>
    <% } %>
    <% if (renderMode === "display") { %>
    <div class="pq-form-element">
      <button id="edit" class="pq-button">Edit</button>
    </div>
    <% } else { %>
    <div class="pq-form-element">
      <button id="save" class="pq-button">Save</button>&nbsp;
      <button id="cancel" class="pq-button">Cancel</button>
    </div>
    <% } %>
    <div class="pq-error pq-hide">
      <span id="error-message"></span>
    </div>
    <script type="text/javascript">
      const renderMode = "<%=renderMode%>";
      const userName = <%- JSON.stringify(user ? user.userName : null) %>;
    </script>
    <script type="text/javascript" src="/script/user.js"></script>
  </body>
</html>
